mjezerina_zadaca_2/mjezerina_zadaca_2_3/src/wsdl/localhost_8084/mjezerina_zadaca_2_1/Zadaca2.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://serveri.ws.mjezerina.nwtis.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serveri.ws.mjezerina.nwtis.foi.org/">

<xs:element name="dajAerodrom" type="tns:dajAerodrom"/>

<xs:element name="dajAerodromResponse" type="tns:dajAerodromResponse"/>

<xs:element name="dajAerodromeDrzava" type="tns:dajAerodromeDrzava"/>

<xs:element name="dajAerodromeDrzavaResponse" type="tns:dajAerodromeDrzavaResponse"/>

<xs:element name="dajAerodromeKorisnika" type="tns:dajAerodromeKorisnika"/>

<xs:element name="dajAerodromeKorisnikaResponse" type="tns:dajAerodromeKorisnikaResponse"/>

<xs:element name="dajAerodromeNaziv" type="tns:dajAerodromeNaziv"/>

<xs:element name="dajAerodromeNazivResponse" type="tns:dajAerodromeNazivResponse"/>

<xs:element name="dajAvioniLete" type="tns:dajAvioniLete"/>

<xs:element name="dajAvioniLeteResponse" type="tns:dajAvioniLeteResponse"/>

<xs:element name="dodajAerodrom" type="tns:dodajAerodrom"/>

<xs:element name="dodajAerodromResponse" type="tns:dodajAerodromResponse"/>

<xs:element name="dodajKorisnika" type="tns:dodajKorisnika"/>

<xs:element name="dodajKorisnikaResponse" type="tns:dodajKorisnikaResponse"/>

<xs:element name="korisniciAerodroma" type="tns:korisniciAerodroma"/>

<xs:element name="korisniciAerodromaResponse" type="tns:korisniciAerodromaResponse"/>

<xs:element name="provjeraKorisnika" type="tns:provjeraKorisnika"/>

<xs:element name="provjeraKorisnikaResponse" type="tns:provjeraKorisnikaResponse"/>

<xs:complexType name="dajAerodrom">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aerodrom">
<xs:sequence>
<xs:element name="drzava" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="lokacija" type="tns:lokacija" minOccurs="0"/>
<xs:element name="naziv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lokacija">
<xs:sequence>
<xs:element name="latitude" type="xs:string" minOccurs="0"/>
<xs:element name="longitude" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeNaziv">
<xs:sequence>
<xs:element name="nazivAerodroma" type="xs:string" minOccurs="0"/>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeNazivResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAvioniLete">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
<xs:element name="odVremena" type="xs:long"/>
<xs:element name="doVremena" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAvioniLeteResponse">
<xs:sequence>
<xs:element name="return" type="tns:avionLeti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="avionLeti">
<xs:sequence>
<xs:element name="arrivalAirportCandidatesCount" type="xs:int"/>
<xs:element name="callsign" type="xs:string" minOccurs="0"/>
<xs:element name="departureAirportCandidatesCount" type="xs:int"/>
<xs:element name="estArrivalAirport" type="xs:string" minOccurs="0"/>
<xs:element name="estArrivalAirportHorizDistance" type="xs:int"/>
<xs:element name="estArrivalAirportVertDistance" type="xs:int"/>
<xs:element name="estDepartureAirport" type="xs:string" minOccurs="0"/>
<xs:element name="estDepartureAirportHorizDistance" type="xs:int"/>
<xs:element name="estDepartureAirportVertDistance" type="xs:int"/>
<xs:element name="firstSeen" type="xs:int"/>
<xs:element name="icao24" type="xs:string" minOccurs="0"/>
<xs:element name="lastSeen" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="korisniciAerodroma">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="korisniciAerodromaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="provjeraKorisnika">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="provjeraKorisnikaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajKorisnika">
<xs:sequence>
<xs:element name="noviKorisnik" type="tns:korisnik" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="korisnik">
<xs:sequence>
<xs:element name="datumKreiranja" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datumPromjene" type="xs:dateTime" minOccurs="0"/>
<xs:element name="emailAdresa" type="xs:string" minOccurs="0"/>
<xs:element name="ime" type="xs:string" minOccurs="0"/>
<xs:element name="korIme" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="prezime" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajKorisnikaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajAerodrom">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
<xs:element name="icao" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dodajAerodromResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeKorisnika">
<xs:sequence>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeKorisnikaResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeDrzava">
<xs:sequence>
<xs:element name="iso_drzave" type="xs:string" minOccurs="0"/>
<xs:element name="korisnik" type="xs:string" minOccurs="0"/>
<xs:element name="lozinka" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAerodromeDrzavaResponse">
<xs:sequence>
<xs:element name="return" type="tns:aerodrom" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>