mjezerina_zadaca_2/mjezerina_zadaca_2_3/src/wsdl/localhost_8084/mjezerina_zadaca_2_1/Zadaca2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.mjezerina.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.mjezerina.nwtis.foi.org/" name="Zadaca2">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.mjezerina.nwtis.foi.org/" schemaLocation="http://localhost:8084/mjezerina_zadaca_2_1/Zadaca2?xsd=1"/>
</xsd:schema>
</types>
<message name="dajAvioniLete">
<part name="parameters" element="tns:dajAvioniLete"/>
</message>
<message name="dajAvioniLeteResponse">
<part name="parameters" element="tns:dajAvioniLeteResponse"/>
</message>
<message name="dodajKorisnika">
<part name="parameters" element="tns:dodajKorisnika"/>
</message>
<message name="dodajKorisnikaResponse">
<part name="parameters" element="tns:dodajKorisnikaResponse"/>
</message>
<message name="dajAerodrom">
<part name="parameters" element="tns:dajAerodrom"/>
</message>
<message name="dajAerodromResponse">
<part name="parameters" element="tns:dajAerodromResponse"/>
</message>
<message name="dodajAerodrom">
<part name="parameters" element="tns:dodajAerodrom"/>
</message>
<message name="dodajAerodromResponse">
<part name="parameters" element="tns:dodajAerodromResponse"/>
</message>
<message name="dajAerodromeNaziv">
<part name="parameters" element="tns:dajAerodromeNaziv"/>
</message>
<message name="dajAerodromeNazivResponse">
<part name="parameters" element="tns:dajAerodromeNazivResponse"/>
</message>
<message name="korisniciAerodroma">
<part name="parameters" element="tns:korisniciAerodroma"/>
</message>
<message name="korisniciAerodromaResponse">
<part name="parameters" element="tns:korisniciAerodromaResponse"/>
</message>
<message name="provjeraKorisnika">
<part name="parameters" element="tns:provjeraKorisnika"/>
</message>
<message name="provjeraKorisnikaResponse">
<part name="parameters" element="tns:provjeraKorisnikaResponse"/>
</message>
<message name="dajAerodromeDrzava">
<part name="parameters" element="tns:dajAerodromeDrzava"/>
</message>
<message name="dajAerodromeDrzavaResponse">
<part name="parameters" element="tns:dajAerodromeDrzavaResponse"/>
</message>
<message name="dajAerodromeKorisnika">
<part name="parameters" element="tns:dajAerodromeKorisnika"/>
</message>
<message name="dajAerodromeKorisnikaResponse">
<part name="parameters" element="tns:dajAerodromeKorisnikaResponse"/>
</message>
<portType name="Zadaca2">
<operation name="dajAvioniLete">
<input wsam:Action="http://serveri.ws.mjezerina.nwtis.foi.org/Zadaca2/dajAvioniLeteRequest" message="tns:dajAvioniLete"/>
<output wsam:Action="http://serveri.ws.mjezerina.nwtis.foi.org/Zadaca2/dajAvioniLeteResponse" message="tns:dajAvioniLeteResponse"/>
</operation>
<operation name="dodajKorisnika">
<input wsam:Action="http://serveri.ws.mjezerina.nwtis.foi.org/Zadaca2/dodajKorisnikaRequest" message="tns:dodajKorisnika"/>
<output wsam:Action="http://serveri.ws.mjezerina.nwtis.foi.org/Zadaca2/dodajKorisnikaResponse" message="tns:dodajKorisnikaResponse"/>
</operation>
<operation name="dajAerodrom">
<input wsam:Action="http://serveri.ws.mjezerina.nwtis.foi.org/Zadaca2/dajAerodromRequest" message="tns:dajAerodrom"/>
<output wsam:Action="http://serveri.ws.mjezerina.nwtis.foi.org/Zadaca2/dajAerodromResponse" message="tns:dajAerodromResponse"/>
</operation>
<operation name="dodajAerodrom">
<input wsam:Action="http://serveri.ws.mjezerina.nwtis.foi.org/Zadaca2/dodajAerodromRequest" message="tns:dodajAerodrom"/>
<output wsam:Action="http://serveri.ws.mjezerina.nwtis.foi.org/Zadaca2/dodajAerodromResponse" message="tns:dodajAerodromResponse"/>
</operation>
<operation name="dajAerodromeNaziv">
<input wsam:Action="http://serveri.ws.mjezerina.nwtis.foi.org/Zadaca2/dajAerodromeNazivRequest" message="tns:dajAerodromeNaziv"/>
<output wsam:Action="http://serveri.ws.mjezerina.nwtis.foi.org/Zadaca2/dajAerodromeNazivResponse" message="tns:dajAerodromeNazivResponse"/>
</operation>
<operation name="korisniciAerodroma">
<input wsam:Action="http://serveri.ws.mjezerina.nwtis.foi.org/Zadaca2/korisniciAerodromaRequest" message="tns:korisniciAerodroma"/>
<output wsam:Action="http://serveri.ws.mjezerina.nwtis.foi.org/Zadaca2/korisniciAerodromaResponse" message="tns:korisniciAerodromaResponse"/>
</operation>
<operation name="provjeraKorisnika">
<input wsam:Action="http://serveri.ws.mjezerina.nwtis.foi.org/Zadaca2/provjeraKorisnikaRequest" message="tns:provjeraKorisnika"/>
<output wsam:Action="http://serveri.ws.mjezerina.nwtis.foi.org/Zadaca2/provjeraKorisnikaResponse" message="tns:provjeraKorisnikaResponse"/>
</operation>
<operation name="dajAerodromeDrzava">
<input wsam:Action="http://serveri.ws.mjezerina.nwtis.foi.org/Zadaca2/dajAerodromeDrzavaRequest" message="tns:dajAerodromeDrzava"/>
<output wsam:Action="http://serveri.ws.mjezerina.nwtis.foi.org/Zadaca2/dajAerodromeDrzavaResponse" message="tns:dajAerodromeDrzavaResponse"/>
</operation>
<operation name="dajAerodromeKorisnika">
<input wsam:Action="http://serveri.ws.mjezerina.nwtis.foi.org/Zadaca2/dajAerodromeKorisnikaRequest" message="tns:dajAerodromeKorisnika"/>
<output wsam:Action="http://serveri.ws.mjezerina.nwtis.foi.org/Zadaca2/dajAerodromeKorisnikaResponse" message="tns:dajAerodromeKorisnikaResponse"/>
</operation>
</portType>
<binding name="Zadaca2PortBinding" type="tns:Zadaca2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajAvioniLete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajAerodrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeNaziv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="korisniciAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="provjeraKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeDrzava">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Zadaca2">
<port name="Zadaca2Port" binding="tns:Zadaca2PortBinding">
<soap:address location="http://localhost:8084/mjezerina_zadaca_2_1/Zadaca2"/>
</port>
</service>
</definitions>